<footer>
    <div [@animateFooter]>
        <ul class="footer-left">
      

        
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:: vipinmo@hotmail.com" target='_blank'>: vipinmo@hotmail.com</a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")' href="https://github.com/ramzeta" target="_blank" rel="nofollow noopener noreferrer">
            <div class="mt-2">Designed by Ramzeta</div>
        </a>
    </div>

</footer>