<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>{{"Banner.Pretitle" | translate}}</h1>
                </div>
                <div class='banner-title'>
                        <li>Es un activo físico de inversión, sólido y seguro</li>
                        <li>Se revaloriza con el tiempo</li>
                        <li>Podemos conseguir financiación para pagarlo (incluso el 100%)</li>
                        <li>Se protege muy bien contra la inflación</li>
                        <li>Genera unos ingresos constantes y ayuda en la jubilación</li>
                        <li>Es un ingreso casi ``pasivo ́ ́, que no requiere de nuestro trabajo</li>
                        <li>El riesgo es casi NULO, ya que todos necesitamos una vivienda</li>
                </div>
                <div class='banner-description'>
                    <p [innerHTML]='"Banner.Description" | translate' class="mt-4"></p>
                </div>
            </div>

        </div>
    </div>
</section>
