<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>{{"Banner.Pretitle" | translate}}</h1>
                </div>
                <div class='banner-title'>
                        <li>{{"Banner.li1" | translate}}</li>
                        <li>{{"Banner.li2" | translate}}</li>
                        <li>{{"Banner.li3" | translate}}</li>
                        <li>{{"Banner.li4" | translate}}</li>
                        <li>{{"Banner.li5" | translate}}</li>
                        <li>{{"Banner.li6" | translate}}</li>
                        <li>{{"Banner.li7" | translate}}</li>
                </div>
                <div class='banner-description'>
                    <p [innerHTML]='"Banner.Description" | translate' class="mt-4"></p>
                </div>
            </div>

        </div>
    </div>
</section>
